<div id="employee-list" class="employee-list-container">
    <div class="list-header">
        <h1>Employee List</h1>
    </div>

    <div class="table-container">
        <table class="employee-table">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Date of Birth</th>
                    <th>Contact</th>
                    <th>Occupation</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let emp of employees; trackBy : trackEmp">
                    <td>{{emp.id}}</td>
                    <td>{{emp.firstName}}</td>
                    <td>{{emp.lastName}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.address}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{emp.age}}</td>
                    <td>{{emp.dob}}</td>
                    <td>{{emp.contactNumber}}</td>
                    <td>{{emp.occupation}}</td>

                    <td class="action-buttons">
                        <button class="edit-btn" [routerLink]="['/update-emp', emp.id]">Edit</button>
                        <button class="delete-btn" (click)="deleteEmp(emp.id)">Delete</button>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>